
*docs\_*
*docs/_*
*.pyc
h5pandas/h5datatype_2.py
h5pandas/h5datatype_old.py
*.h5
examples/feather.feather
examples/debug_benchmark.py
tests/debug.py
examples/debug_benchmark_pandas.py
/h5pandas.egg-info
/build
